.ckhn_top_page {
    .ckhn_check {
        top: -0.02in;
    }
    .ckhn_stub_1 {
        top: 3.45in;
    }
    .ckhn_stub_2 {
        top: 7in;
    }

    .ckhn_check .sequence_number {
        top: 0.1in;
        left: 7.1in;
        width: 0.7in;
    }
    .ckhn_date {
        top: 0.69in;
        left: 6.11in;
        width: 1.47in;
        text-align: left;
        border-style: solid;
        border-width: 1px;
    }
    .ckhn_payee_name {
        top: 1.47in;
        left: 0.35in;
        width: 4.0in;
        text-align: left;
        border-style: solid;
        border-width: 1px;
    }
    .ckhn_amount {
        top: 1.43in;
        left: 6.35in;
        width: 1.08in;
        text-align: left;
        border-style: solid;
        border-width: 1px;
    }
    .ckhn_amount_in_word {
        top: 2.05in;
        left: 0.35in;
        width: 7in;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
        border-style: solid;
        border-width: 1px;
    }
    .ckhn_payee_addr {
        top: 0.69in;
        left: 4.11in;
        border-style: solid;
        border-width: 1px;
    }
    .ckhn_memo {
        top: 2.41in;
        left: 0.6in;
        width: 2.9in;
        text-align: left;
        font-size: 0.9em;
        overflow: hidden;
        border-style: solid;
        border-width: 1px;
    }
}
